.section {
  width: 100%;
  margin: 0 auto;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 2.2vw;
  margin: 0 auto;
  width: 89.74%;
}

.title {
  font-family: var(--fonts-jetbrains-medium);
  font-size: 46px;
  margin: 0;
  max-width: 50%;
  width: 100%;
  padding: 0;
}