.title {
  font-family: var(--fonts-jetbrains-medium);
  font-size: 46px;
  margin: 0;
  width: 30%;
  text-transform: uppercase;
  padding: 0;
  grid-column: 1 / 13;
}

.paragraph {
  margin: 0;
  padding: 0;
  font-family: var(--fonts-jetbrains-bold);
  font-size: 69px;
}

@media screen and (max-width: 889px) {
  .title {
    width: 100%;
  }
}

