.header {
  width: 89.745%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.mainContainer {
  margin: 0 auto;
  padding-top: 18px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 89.745%;
  max-width: 768px;
  gap: 8.4%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.block {
  margin: 0;
  padding: 0;
}

.to {
  font-family: var(--fonts-jetbrains-medium);
  font-size: 16px;
  margin: 0;
  text-transform: uppercase;
  padding: 0;
  transition: color .2s ease;
  cursor: pointer;
}

.to:hover {
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: var(--text-hover-light);
}

.logo {
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.logo:hover {
  opacity: .7;
}