.header {
  width: 89.745%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}

.mainContainer {
  margin: 0 auto;
  padding-top: 18px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.8%;
}

.nav {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 4.1%;
}

.block {
  margin: 0;
  width: 36px;
  height: 36px;
  padding: 0;
}

.to {
  font-family: var(--fonts-jetbrains-medium);
  font-size: 16px;
  margin: 0;
  text-transform: uppercase;
  padding: 0;
  transition: color .2s ease;
  cursor: pointer;
}

.to:hover {
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: var(--text-hover-light);
}

.logo {
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.logo:hover {
  opacity: .7;
}

.navButton {
  display: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-left: auto;
}

@media screen and (max-width: 602px) {
  .nav {
    display: none;
  }

  .button {
    display: none;
  }

  .navButton {
    display: block;
  }
}