.content {
  width: 89.44%;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

.item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2.5%;
  margin: 0;
  width: 100%;
}

.liitem {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 125.9px auto;
}

.block {
  width: 50%;
  position: relative;
  height: 300px;
}

.image {
  border-radius: 8px;
  height: 100%;
  inset: 0;
  position: absolute;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  width: 50%;
}

.heading {
  font-family: var(--fonts-jetbrains-medium);
  font-size: 1.333rem;
  width: 100%;
  margin: 0;
  padding: 0;
}

.text {
  font-family: var(--fonts-jetbrains-regular);
  font-size: 16px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.link {
  font-family: var(--fonts-jetbrains-regular);
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-decoration: none;
  color: var(--text-color-light);
}

.link:hover {
  color: var(--text-hover-light);
}

.link.linkDark {
  color: var(--text-color-dark);
}

.link.linkDark:hover {
  color: var(--text-hover-light);
}

.nothing {
  width: 100%;
  font-size: 36px;
  font-family: var(--fonts-jetbrains-medium);
  margin: 0 auto;
  padding: 0;
}

@media screen and (width <= 706px) {
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .block {
    width: 100%;
  }

  .info {
    width: 100%;
    margin-top: 20px;
  }
}