.statsHeading {
  margin: 0;
  padding: 0 0 20px;
  font-family: var(--fonts-jetbrains-medium);
  font-size: 1.333rem;
  max-width: 79px;
  width: 100%;
  text-decoration: none;
  color: var(--text-color-light);
}

.statsHeading:hover {
  text-decoration: underline;
}

.github {
  grid-column: 1 / 13;
  padding-top: 40px;
  grid-row: 5 / 6;
  margin: 20px 0 0;
  padding-bottom: 40px;
  border-bottom: 1px solid rgb(41 41 71);
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--fonts-jetbrains-regular);
}