.about {
  width: 100%;
  margin: 0px auto 0;
}

.mainContainer {
  width: 89.47%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: min-content auto;
  position: relative;
  gap: 0 1rem;
  margin: 0 auto;
  overflow: hidden;
}

.info {
  grid-column: 1 / 7;
  width: 100%;
}

.subtitle {
  font-family: var(--fonts-jetbrains-regular);
  margin: 0;
  padding: 20px 0 0 0;
  font-size: 1.333rem;
  width: 100%;
}

.sprite {
  height: 450px;
  grid-column: 7 / 13;
  width: 100%;
}

.calendar {
  grid-column: 1 / 13;
  grid-row: 3 / 4;
  margin: 20px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--fonts-jetbrains-regular);
}