.moreInfo {
  grid-column: 1 / 13;
  grid-row: 4 / 5;
  border-top: 1px solid rgb(41, 41, 71);
  width: 100%;
  margin: 0;
  padding-top: 40px;
}

.statsHeading {
  margin: 0;
  padding: 0;
  font-family: var(--fonts-jetbrains-medium);
  font-size: 1.333rem;
}

.text {
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  text-align: start;
  margin: 0;
  padding: 0;
  color: rgb(248, 248, 248);
}

.span {
  margin: 0;
  color: rgb(0, 255, 164);
}

.stats {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  flex-direction: column;
}

.statsItem {
  margin: 0;
  padding: 0;
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed white;
}

.statsItem:last-of-type {
  border: none;
}

.current {
  font-size: 1.328rem;
  margin: 0;
  font-family: var(--fonts-jetbrains-regular);
  margin: 0;
}
