.education {
  width: 100%;
  margin: 0 auto;
}

.mainContainer {
  width: 89.47%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text {
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  text-align: start;
  margin: 0;
  padding: 0;
  color: rgb(248 248 248);
  transition: transform .3s ease;
  cursor: default;
}

.hover:hover {
  transform: translateY(-5px);
}

.span {
  margin: 0;
  color: rgb(0 255 164);
}

.main {
  color: rgb(39 201 63);
}

.ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.href {
  color: rgb(248 248 248);
}
